
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000; /* fond noir */
  color: #fff;
  text-align: center;
}

.logo {
  max-width: 150px;
  margin: 20px auto 10px;
  display: block;
}

header h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 40px;
  color: #ccc;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.menu a:hover {
  background: #fff;
  color: #111;
}

}
.marquee-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  color: black;
  font-size: 1em;
  font-weight: bold;
  animation: marquee 15s linear infinite;
}


@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
